apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: credentials_name
  namespace: credentials
  labels:
    cluster.open-cluster-management.io/type: aws
    cluster.open-cluster-management.io/credentials: ""
stringData:
  aws_access_key_id: {{ aws_access_key_id }}
  aws_secret_access_key: {{ aws_secret_access_key }}
  baseDomain: {{ base_dns_domain }}
  pullSecret: {{ pull_secret }}
  ssh-privatekey: {{ private_key }}
  ssh-publickey: {{ public_key }}
  httpProxy: ""
  httpsProxy: ""
  noProxy: ""
  additionalTrustBundle: ""