---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ credentials_namespace }}
spec: {}
---
kind: Secret
type: Opaque
apiVersion: v1
metadata:
  name: {{ credentials_name }}
  namespace: {{ credentials_namespace }}
  labels:
    cluster.open-cluster-management.io/credentials: ''
    cluster.open-cluster-management.io/type: vmw
stringData:
  ssh-privatekey: |
    {{ private_key }}
    {{ private_key2 }}
    {{ private_key3 }}
    {{ private_key4 }}
  httpsProxy: ''
  httpProxy: ''
  vCenter: {{ vsphere_vcenter }}
  vsphereResourcePool: ''
  noProxy: ''
  ssh-publickey: |
    {{ public_key }}
  vsphereFolder: {{ vsphere_folder }}
  additionalTrustBundle: ''
  pullSecret: |
    {{ pull_secret }}
  baseDomain: {{ base_domain }}
  username: {{ vsphere_username }}
  defaultDatastore: {{ vsphere_default_datastore }}
  disconnectedAdditionalTrustBundle: ''
  cacertificate: {{ vsphere_cacertificate }}
  cluster: {{ vsphere_cluster }}
  imageContentSources: ''
  vsphereDiskType: {{ vsphere_disktype }}
  password: {{ vsphere_password }}
  datacenter: {{ vsphere_datacenter }}